@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    background: #d8b259;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header {
    margin: 30px auto;
    text-align: center;
}
.header h1 {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 3rem;
}
.header h1 i {
    margin-right: 5px;
    color: rgb(173, 255, 9);
    text-shadow: 1px 1px 2px #000;
    font-size: 2.5rem;
}
.add-note-btn {
    padding: 5px;
    border: 1px solid #fff;
    outline: none;
    margin-top: 10px;
    border-radius: 3px;
}
.container {
    width: 100%;
    height: auto;
}
.all-notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 0 30px;
}
.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-modal textarea{
    width: 276px;
    height: 276px;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.9);
    padding: 20px 0 0 5px;
}
.inner-modal i {
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;
    cursor: pointer;
}
.ok-btn {
    padding: 7px 30px;
    border-radius: 5px;
    background: #e6a919;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2rem;
}
.ok-btn:hover {
    transform: translate3d(0, 0, 0) scale(1.05);
}
.note {
    width: 300px;
    height: 300px;
    transition: 2s;
    cursor: pointer;
    overflow-wrap: break-word;
}
.note h3 {
    font-size: 1.5rem;
}
.details {
    margin-top: 25px;
    padding: 0 15px;
    font-size: 1.5rem;
}